.container-1 {
    height: 100vh;
    background-color: #ffffdd;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr [text] 1fr 1fr 1fr;
}

.main-text {
    grid-row: text;
}

.container-2 {
    height: 100vh;
    max-height: 100vh;
    background-color: #faebd7;
    justify-content: center;
}

.container-2-text {
    text-align: center;
    padding-top: 140px;
    display: grid;
    justify-content: center;
}

.container-2-text p {
    width: 500px;
}

.container-2-box {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
    flex-direction: column;
    height: 422px;
    width: 800px;
    scroll-snap-type: x mandatory;
}

.box {
    width: 800px;
    height: 422px;
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.margin-1 {
    margin-right: 50px;
    margin-left: 50px;
}

.box h3, .box p {
    text-align: center;
}


.container-3 {
    background-color: #f0cfbc;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr [text] 1fr 6fr;
    justify-content: center;
}

.container-3-text {
    text-align: center;
    grid-row: text;
}