@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', 'sans-serif';

}

h1 {
    font-family: 'Montserrat', 'serif';
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-family: 'Montserrat', 'serif';
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-family: 'Montserrat', 'serif';
    font-size: 2rem;
}

p {
    font-size: 1rem;
}


.main-nav {
    height: 60px;
    width: 100%;
    position: fixed;
}


.main-nav ul {
    list-style-type: none;
}

.main-nav li {
    float: right;
    padding: 18px 0;
}

.main-nav a {
    padding: 18px;
    color: #000;
    text-decoration: none;
}


.main-nav p {
    float: left
}

.main-nav img {
    float: left;
    height: 44px;
    padding: 8px;
}